<h2 class="new-request__title"><%= _("Want to know something?") %></h2>
<%= link_to list_public_bodies_default_path, :class => "new-request__make-new-requests" do %>
  <%= _("Make a request &raquo;") %>
<% end %>
