#sign_together {
    padding-top: 50px;

    h1 {
        font-size: 30px;
        color: #9C9C9C;

        margin-bottom: 60px;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 20px;
        color: #333;
        padding-bottom: 12px;
        border-bottom: 2px solid #BEBEBE;
    }

    label.form_label {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
        padding: 0 18px;
    }

    input[type=text],
    input[type=password],
    input[type=text],
    input[type=password] {
        border-radius: 22px;
        height: 44px;
        line-height: 44px;
        box-shadow: none;
        border-color: #9C9C9C;
        padding: 0 20px;

        &:focus {
            background-color: #fff;
        }
    }

    .form_checkbox {
        padding: 0 0 0 18px;
    }

    input[type="checkbox"] + label, 
    input[type="radio"] + label {
        margin-right: 0;
        padding-top: 2px;
        line-height: 15px;
        font-size: 13px;
        line-height: 15px;
        color: #737373;

        float: right;
        width: calc(100% - 25px);

        strong {
            color: #000;
            font-weight: normal;
        }
    }

    .form_item_note {
        color: #737373;
        font-size: 13px;
        line-height: 18px;
        padding: 0 18px;

        a {
            color: #187BD6;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        strong {
            font-weight: normal;
        }
    }

    .form_button {
        padding-top: 15px;

        input[type=submit] {
            width: 100%;
            height: 57px;
            line-height: 57px;
            border-radius: 50px;
            padding: 0;

            background-color: $color_green;
            font-size: 18px;

            &:hover,
            &:active,
            &:focus {
              background-color: darken($color_green, 10%);
            }
        }
    }


    #left_half {
        @include grid-column(12);
        @include respond-min( $main_menu-mobile_menu_cutoff ){
          @include grid-column($columns:6,$float:left);
          padding-right: 65px;
          //padding-left: 0;
        }
      }
      
    #right_half {
        @include grid-column(12);
        @include respond-min( $main_menu-mobile_menu_cutoff ){
            @include grid-column($columns:6,$float:right);
            padding-left: 65px;
            //padding-right: 0;
        }

        .pretitle {
            display: none !important;
        }

        .form_note > a {
            margin-left: 18px;
            color: #187BD6;
            font-size: 15px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

        }
    }
}