#request_list {

    #list-filter.list-filter {
        margin-bottom: 7px;

        @at-root .filter_container{
            background-color: #fff;
            border-radius: 30px;
            padding: 30px 28px;
            margin-top: 30px;
            margin-bottom: 22px;
    
            h1 {
                padding: 0;
                margin: 0 0 55px;
                font-size: 30px;
            }
    
            .list-filter-item {
    
                label.title {
                    color: #737373;
                    font-size: 16px;
                    margin-left: 15px;
    
                    &.datetitle {
                        @include respond-min( $main_menu-mobile_menu_cutoff ){
                            margin-left: 5px;
                        }
                    }
                }
    
                .tiree {
                    padding: 0 4px 0 5px;
                }
    
                #query {
                    width: 100%;
                }
                
                @include respond-min( $main_menu-mobile_menu_cutoff ){
                    float: left !important;
                    padding-left: 8px !important;
                    padding-right: 8px !important;
                }
    
    
                &.searchbar {
                    @include grid-column(12);
                    @include respond-min( $main_menu-mobile_menu_cutoff ){
                        @include grid-column($columns:5,$float:right);
        
                    }
                }
    
                &.datebar {
                    @include grid-column(12);
                    @include respond-min( $main_menu-mobile_menu_cutoff ){
                        @include grid-column($columns:4,$float:right);
        
                    }
                }
    
                &.buttonbar {
                    @include grid-column(12);
                    @include respond-min( $main_menu-mobile_menu_cutoff ){
                        @include grid-column($columns:3,$float:right);
                        
                        input[type=submit] {
                            margin-top: 28px;
    
                            width: 100%;
                            text-indent: 10px;
    
                            background-image:image-url('search-white.svg');
                            background-repeat: no-repeat;
                            background-position: 30px 15px;
                        }
                    }
                }
    
            }
    
    
        }


        .filter-request-types {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
            width: 100%;
    
            ul {
                border: 0;
                padding-left: 0;
    
                li {
                    float: left;
                    border: 0;
                    padding: 0;
                    margin-right: 7px;
    
                    span,
                    a {
                        box-shadow: none;
                        border: 0;
                        height: 35px;
                        line-height: 35px;
                        font-size: 13px;
                        padding: 0 20px;
                        border-radius: 20px;
                    }
    
                    span {
                        color: #fff;
                        background-color: #737373;
                    }
                    a {
                        color: #737373;
                        background-color: #fff;
    
                        &:hover {
                            color: #fff;
                            background-color: #737373;
                        }
                    }
                }
            }
        }

    }


    .results_section {
        h2.foi_results {
            font-size: 16px;
            color: #737373;
            font-weight: normal;
            padding-bottom: 25px;

            border-bottom: 1px solid #BEBEBE;

            strong {
                color: #333333;
            }
        }

        @at-root .request_listing {
            .request_left {

                @include respond-min( $main_menu-mobile_menu_cutoff ){
                    @include grid-column($columns:9);
                }

                .head {
                    margin-bottom: 14px;

                    a{
                        color: #333333;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 14px;

                        &:hover {
                            color: #187BD6;
                            text-decoration: none;
                        }
                    }
                } 

                .desc {
                    font-style: normal;
                    font-size: 13px;
                    line-height: 19px;
                    color: #737373;
                    padding: 0;
                    margin-bottom: 12px;
                }

                .attachments {
                    float: left;
                    border: 0;

                    .list-of-attachments {
                        padding: 0;
                        margin-top: 0;

                        .attachment {
                            float: left;
                            height: 34px;
                            border: 1px solid #DEDEDE;
                            border-radius: 25px;
                            margin-right: 4px;
                            margin-bottom: 5px;
                            padding: 0 12px;
                            overflow: hidden;

                            &:hover {
                                border-color: #9E9E9E;
                            }

                            .attachment__image {
                                height: 21px;
                                margin-top: 5px;
                            }

                            .attachment__name {
                                display: block;
                                float: left;
                                white-space: nowrap;
                                max-width: 100px;
                                overflow: hidden;
                                color: #9C9C9C;
                                font-size: 14px;
                                margin-top: 3px;

                                &:hover {
                                    text-decoration: none;
                                }
                            }



                            .attachment__meta {
                                display: none;
                            }
                        }
                    }
                }
            }

            .request_right {

                font-size: 14px;
                color: #9C9C9C;

                @include respond-min( $main_menu-mobile_menu_cutoff ){
                    @include grid-column($columns:3, $float:right);
                }

                .requester {
                    .fromto {
                        display: block;
                        a {
                            color: #187BD6;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        span {
                            width: 35px;
                            display: inline-block;
                        }

                        &.date {
                            margin-top: 8px;
                        }
                    }
                }

                .request-status {
                    padding: 0;
                    margin-bottom: 16px;

                    i {
                        float: left;
                        
                    }

                    .statustitle {
                        padding: 4px 0 0 8px;
                        float: left;
                    }
                } 
            }
        }
    }


    .subscription {
        text-align: center;

        h2 {
            margin-top: 50px;
            font-size: 16px;
            color: #333;
            font-weight: normal;

            margin-bottom: 18px;
        }

        .feed_link {
            text-align: center;
        }

        .link_button_green {
            margin: 0 auto;
            width: 155px;
            background:image-url('bell.svg') transparent no-repeat 23px 14px;
            border: 1px solid $color_light_green;
            color: $color_light_green;
            text-indent: 25px;
            margin-bottom: 35px;
        }

        .linkrss {
            margin-bottom: 35px;
        }
    }

}


div.pagination {
    margin-top: 60px;
    margin-bottom: 35px;
    font-size: 18px;
    

    a,
    .gap {
        color: #187BD6;
    }

    .current,
    .disabled {
        font-style: normal;
        color: #9C9C9C;
    }
}

#request_select_authority,
#public_body_show {

    &>.typeahead_response>p:first-child {
        display: none;
    }

    .filter_container {
        padding-bottom: 0;
        margin-bottom: 15px;
        margin-right: -0.9375rem;
        margin-left: -0.9375rem;
    }

    .filter_container h1 {
        margin-bottom: 25px;
    }

    #authority_selection {
        max-width: none;
    }

    #search_form {

        p {
            color: #737373;

            a {
                color: #187BD6;
                text-decoration: none;
            }
        }

        input#query {
            width: calc(75% - 20px);
            margin-right: 17px;
        }

        input[type="submit"] {
            width: 25%;

            text-indent: 10px;
    
            background-image:image-url('search-white.svg');
            background-repeat: no-repeat;
            background-position: 75px 15px;
        }
    }

    #select_authority_help {
        display: block;

        &>div {
            margin: 0;
            padding: 0;
            border: 0;

            .actions {
                text-align: center;
                margin-top: 20px;

                a {
                    display: block;
                    margin-bottom: 25px;
                    text-decoration: none;

                    &:nth-child(1) {
                        font-size: 14px;
                        color: #737373;
                    }

                    &:nth-child(2) {
                        font-size: 16px;
                        color: #187BD6;
                    }
                }
            }
        }
    }

    .authority_sorting_box {
        height: 100px;
        border-bottom: 1px solid #BEBEBE;
        position: relative;

        .sort_title {
            display: block;
            height: 44px;
            line-height: 44px;
            font-size: 13px;
            float: left;
            color: #737373;

            margin-right: 15px;
            
        }

        #arrangement-s {
            position: relative;
            float: left;
            width: 160px;
            height: 42px;
            margin-right: 40px;
        }

        #category-s {
            position: relative;
            float: left;
            width: 160px;
            height: 42px;
        }

    }
}


.body_listing {


    .body-listing__header {
        @include respond-min( $main_menu-mobile_menu_cutoff ){
            margin-right: 500px;
        }

        a {
            font-size: 16px;
            line-height: 20px;
            color: #333;
            font-weight: 700;

            &:hover {
                color: #187BD6;
                text-decoration: none;
            }
        }
    }

    .body-listing__description {
        margin-right: 500px;
        color: #737373;
    }

    .body-listing__request-count {
        color: #737373;
    }

    .body_listing__request-button {
        @include respond-min( $main_menu-mobile_menu_cutoff ){
    
          max-width: none;
          width: 295px;
        }
    
        .link_button_green {
            width: 100%;
            text-align: center;
            height: 60px;
            line-height: 60px;
    
            border-radius: 30px;
    
            font-size: 16px;
    
            background-color: #fff;
            color: #737373;

            transition: none;

            &:hover {
                background-color: $color-green;
                color: #fff;
            }
        }
      }


}

#user_profile_search {
    h1#your_requests_title {
        font-size: 30px;
        line-height: 40px;
        color: #333333;
        margin-bottom: 45px;
        margin-top: 60px;
    }

    h2#foi_requests {
        padding-bottom: 13px;

        font-size: 16px;
        color: #737373;

        border-bottom: 1px solid #BEBEBE;

        strong {
            color: #030303;
        }
    }

    #search_form {
        @include respond-min( $main_menu-mobile_menu_cutoff ){

            height: 44px;
            margin-bottom: 40px;

            input#user_query {
                width: 50%;
                margin-right: 10px;
            }

            input[type=submit] {
                width: calc(50% - 330px);
                float: right;

                text-indent: 10px;
    
                background-image:image-url('search-white.svg');
                background-repeat: no-repeat;
                background-position: 43px 15px;
            }
        }
    }

    .annotations_block {
        padding-top: 110px;
        margin-bottom: 300px;

        h2 {
            color: #000;
            font-size: 18px;
        }

        p {
            font-size: 16px;
            color: #737373;
        }
    }




}