<div id="right_column_flip" class="right_column_flip">
<h2>Help pages</h2>
<ul class="no_bullets">
  <li><%= link_to_unless_current "Askgov-ის შესახებ", help_about_path %></li>
  <li><%= link_to_unless_current "ინფორმაციის გამოთხოვა", help_requesting_path %></li>
  <li><%= link_to_unless_current "კონფიდენციალურობის პოლიტიკა", help_privacy_path %></li>
</ul>

<h2 id="contact" class="contact">დაგვიკავშირდი</h2>
<p>თუ შენს კითხვაზე პასუხი ვერ იპოვე ან გსურს, რომე შეგვატყობინო ვებგვერდთან დაკავშირებით, <a href="<%= help_contact_path %>">დაგვიკავშირდი</a>.
</p>
</div>
