<div id="right_column_flip" class="right_column_flip">
<h2>დახმარება</h2>

<ul class="">
  <li><%= link_to_unless_current "Askgov-ის შესახებ", help_about_path %></li>
  <li><%= link_to_unless_current "ინფორმაციის გამოთხოვა", help_requesting_path %></li>
  <li><%= link_to_unless_current "კონფიდენციალურობის პოლიტიკა", help_privacy_path %></li>
</ul>

</div>
