<% @title = "Askgov-ის შესახებ" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Askgov-ის შესახებ</h1>
  <dl>

    <dt id="purpose">რისთვის შეიქმნა Askgov.ge?</dt>
    <dd>იმისათვის, რომ დაგეხმაროს საჯარო ინსტიტუტების ხელთ არსებული ინფორმაციის მოპოვებაში.
    </dd>

    <dt id="premise">როგორ მუშაობს პორტალი? </dt>
    <dd>პირველ რიგში, ირჩევ ადმინისტრაციულ ორგანოს, რომლისგანაც ინფორმაციის გამოთხოვას აპირებ. შემდეგ ეტაპზე, მოკლედ აღწერ, რა ინფორმაციის მოპოვება გსურს. ჩვენ შენს მოთხოვნას ადრესატს გავუგზავნით, მიღებული პასუხი კი პორტალზე ავტომატურად გამოქვეყნდება, რათა მისი პოვნა და წაკითხვა შეძლოთ თქვენც და სხვა დაინტერესებულმა პირებმაც.
    </dd>

    <dt id="whybother_me">რატომ უნდა მაღელვებდეს საჯარო ინფორმაცია? </dt>
    <dd>ჩვენ გადასახადებს ვიხდით, ხოლო ხელისუფლება ამ ფულს სხვადასხვა მიმართულებით ხარჯავს. ეს მიმართულებები ჩვენი ცხოვრების პირობებზე ახდენს ზეგავლენას, ჯანდაცვით დაწყებული, ეროვნული თავდაცვით დამთავრებული. ზოგი ხელისუფლება ამას კარგად აკეთებს, ზოგიც ცუდად. ჩვენ კი, რაც უფრო მეტი გვეცოდინება საჯარო უწყებების მუშაობაზე, მით უფრო მეტად შევძლებთ უწყებათა დადებითი მიღწევების აღნიშვნას, ან რეკომენდაციების გაცემას ცუდად მიმდინარე პროცესების გასაუმჯობესებლად.
        </dd>

    <dt id="whybother_them">რატომ უნდა შეიწუხოს საჯარო უწყებამ თავი პასუხის გასაცემად? </dt>
    <dd><a href="https://matsne.gov.ge/ka/document/view/30346?publication=36">საქართველოს კონსტიტუციისა</a> და 
    <a href="https://matsne.gov.ge/ka/document/view/16270?publication=38">ზოგადი ადმინისტრაციული კოდექსის</a> თანახმად, მათ პასუხის დაბრუნების ვალდებულება აქვთ. პასუხში ან შენთვის საინტერესო ინფორმაციას იხილავ, ან სამართლებრივ მიზეზს, რის გამოც ინფორმაცია კონფიდენციალური უნდა დარჩეს.
    </dd>

    <dt id="reporting">როგორ მოვიქცე, თუ პორტალზე შეუსაბამო მოთხოვნას აღმოვაჩენ?</dt>
    <dd>
      <p>
ზოგადი ადმინისტრაციული კოდექსის თანახმად, ინფორმაციის ღიაობა შეზღუდულია, თუ ის შეიცავს სახელმწიფო, პროფესიულ ან კომერციულ საიდუმლოებას ან პერსონალურ მონაცემებს.
      </p>

      <p>
      პორტალზე ამგვარი შეუსაბამო მოთხოვნის იდენტიფიცირების შემთხვევაში, შეგიძლია გასაჩივრების ღილაკით მიმართო ადმინისტრატორს.      </p>
    </dd>

    <dt id="reporting_unavailable">რატომ ვერ ვასაჩივრებ ზოგიერთ მოთხოვნას?</dt>
    <dd>
      <p>
      თუ კონკრეტული მოთხოვნის შეუსაბამობაზე ადმინისტრატორს უკვე მიუვიდა შეტყობინება, მის გასაჩივრებას მეორედ ვეღარ შეძლებ. ეს იმიტომ, რომ თავიდან ავირიდოთ ერთიდაიგივე შეტყობინებების მიღება მანამ, სანამ პრობლემის განხილვის შესაძლებლობა მოგვეცემა.

      </p>

      <p>
თუ ადმინისტრატორმა გადაწყვიტა, რომ გასაჩივრებული მოთხოვნა არ წაშალოს, მაგრამ შენ მის შეუსაბამობაში დარწმუნებული ხარ, მოთხოვნის გვერდზე, ნავიგაციის ველიდან შეგიძლია ადმინისტრატორს დაუკავშირდე და დამატებითი ახსნა-განმარტება მიაწოდო.

      </p>
    </dd>

    <dt id="who">ვინ შექმნა Askgov.ge? </dt>
    <dd>პორტალი ბრიტანული ორგანიზაციის, <a href="https://www.mysociety.org/">mySociety</a>-ის 
    პროექტ Alaveteli-ის ქართული ანალოგია. საქართველოში Askgov.ge-ს შექმნასა და მართვას <a href="https://www.forset.ge/">ფორსეტი</a>
     უძღვება ღია მმართველობის პარტნიორობის ინოვაციების გრანტის მხარდაჭერით. ფორსეტი მონაცემთა კომუნიკაციის ორგანიზაციაა, 
     რომელიც მონაცემების, დიზაინისა და ტექნოლოგიების გამოყენებით ინფორმაციის გადაცემას უფრო ეფექტურს ხდის. თუ მოგწონს, 
     რასაც ვაკეთებთ, <a href="https://www.forset.ge/contact">დაგვიმეგობრდი</a>.

    </dd>

    <dt id="updates">როგორ ვადევნო თვალი Askgov-ის სიახლეებს?</dt>
    <dd>ხშირად ესტუმრე ჩვენს <a href="https://medium.com/@Askgov.ge">ბლოგს</a> და გამოგვყევი <a href="https://www.facebook.com/ForSet.ge">
    ციფრულ მედიაში<a/>.
    </dd>

  </dl>
  <div id="hash_link_padding"></div>
</div>
