<% @title = "Public information" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Public information</h1>
  <dl>

    <dt id="section1">What is public information?</dt>
    <dd>
    ნებისმიერი ინფორმაცია, რომელსაც საჯარო დაწესებულება ფლობს, გარდა პირადი, კომერციული და სახელმწიფო საიდუმლოებისა, საჯარო ინფორმაციაა. საჯარო ინფორმაცია შეიძლება არსებობდეს ნებისმიერი ფორმით, იქნება ეს სტატისტიკური მონაცემი, ტექსტური მასალა, ნახაზი, მაკეტი, გეგმა, ვიდეო თუ აუდიო ჩანაწერი.     </dd>

    <dt id="section2">Why should I worry about public information?</dt>
    <dd>
      We pay taxes, and the government spends this money in different directions. These directions, starting with health care and ending with national defense, affect our living conditions. Some governments do it well, some not so well. And we, the more we know about the work of public agencies, the better we will be able to celebrate the positive achievements of the agencies, or give recommendations to improve the poorly running processes.   
    </dd>

    <dt id="section3">Who can request information?</dt>
    <dd>All citizens of Georgia have the right to request information from public institutions.
    </dd>

    <dt id="section4">Why should a public agency bother to respond?</dt>
    <dd><a href="https://matsne.gov.ge/ka/document/view/30346?publication=36">According to the Constitution of Georgia </a> and
    <a href="https://matsne.gov.ge/ka/document/view/16270?publication=38">the General Administrative Code</a>,
    they have the obligation to return the answer. In the answer, you will either find information of interest to you, or - a legal reason why the information should remain confidential.    </dd>

    <dt id="section5">Is there a fee to request information?</dt>
    <dd>
      <p>
      Requesting information from public agencies is free of charge. You only have to pay if you want to receive a physical copy of the information:      <p>
      <ul>
      <li>copy - one page - 0.05 GEL; Printing on a printer - one page - 0.10 GEL; 
      </li>
      <li>
      Recording information on a compact disk - 1 disk - 2.65 GEL; Recording information on a diskette - 1 diskette - 1.3 GEL (in case of presentation of a diskette or disk, recording of information is free of charge).      </li>
      </ul>
    </dd>

  </dl>
  <div id="hash_link_padding"></div>
</div>
