<% @title = "საჯარო ინფორმაცია" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">საჯარო ინფორმაცია</h1>
  <dl>

    <dt id="section1">რა არის საჯარო ინფორმაცია?</dt>
    <dd>ნებისმიერი ინფორმაცია, რომელსაც საჯარო დაწესებულება ფლობს, გარდა პირადი, კომერციული და სახელმწიფო საიდუმლოებისა, საჯარო ინფორმაციაა. საჯარო ინფორმაცია შეიძლება არსებობდეს ნებისმიერი ფორმით, იქნება ეს სტატისტიკური მონაცემი, ტექსტური მასალა, ნახაზი, მაკეტი, გეგმა, ვიდეო თუ აუდიო ჩანაწერი.
    </dd>

    <dt id="section2">რატომ უნდა მაღელვებდეს საჯარო ინფორმაცია?</dt>
    <dd>ჩვენ გადასახადებს ვიხდით, ხოლო ხელისუფლება ამ ფულს სხვადასხვა მიმართულებით ხარჯავს. ეს მიმართულებები, ჯანდაცვით დაწყებული, ეროვნული თავდაცვით დამთავრებული, ჩვენი ცხოვრების პირობებზე ახდენს გავლენას,. ზოგი ხელისუფლება ამას კარგად აკეთებს, ზოგიც - არც ისე. ჩვენ კი, რაც უფრო მეტი გვეცოდინება საჯარო უწყებების მუშაობაზე, მით უკეთ შევძლებთ უწყებათა დადებითი მიღწევების აღნიშვნას, ან რეკომენდაციების გაცემას ცუდად მიმდინარე პროცესების გასაუმჯობესებლად.</dd>

    <dt id="section3">ვის შეუძლია ინფორმაციის მოთხოვნა?</dt>
    <dd>საჯარო დაწესებულებიდან ინფორმაციის მოთხოვნის უფლება აქვს საქართველოს ყველა მოქალაქეს.
    </dd>

    <dt id="section4">რატომ უნდა შეიწუხოს თავი საჯარო უწყებამ პასუხის გასაცემად?</dt>
    <dd><a href="https://matsne.gov.ge/ka/document/view/30346?publication=36">საქართველოს კონსტიტუციისა</a> და 
    <a href="https://matsne.gov.ge/ka/document/view/16270?publication=38">ზოგადი ადმინისტრაციული კოდექსის</a> 
    თანახმად, მათ პასუხის დაბრუნების ვალდებულება აქვთ. პასუხში ან შენთვის საინტერესო ინფორმაციას იხილავ, ან - სამართლებრივ მიზეზს, რის გამოც ინფორმაცია კონფიდენციალური უნდა დარჩეს.    
    </dd>

    <dt id="section5">ფასიანია ინფორმაციის მოთხოვნა?</dt>
    <dd>
      <p>
      საჯარო უწყებებისგან ინფორმაციის გამოთხოვა უფასოა. თანხის გადახდა მხოლოდ იმ შემთხვევაში გიწევს, თუ ინფორმაციის ასლის მიღება მატერიალური სახით გსურს:      </p>
      <p>
      <ul>
      <li>ასლი - ერთი გვერდი - 0,05 ლარი; პრინტერზე ამობეჭდვა - ერთი გვერდი - 0,10 ლარი; 
      </li>
      <li>კომპაქტურ დისკზე ინფორმაციის ჩაწერა - 1 დისკი - 2,65 ლარი; დისკეტაზე ინფორმაციის ჩაწერა - 1 დისკეტა - 1,3 ლარი (დისკეტის ან დისკის წარმოდგენის შემთხვევაში ინფორმაციის ჩაწერა უფასოა).</li>
      </ul>
    </dd>

  </dl>
  <div id="hash_link_padding"></div>
</div>
