<% @title = "Askgov-ის შესახებ" %>

<div id="content" role="main">
  <h1 id="introduction">Askgov-ის შესახებ</h1>
  <p>Askgov.ge საჯარო ინფორმაციის მოთხოვნის პროცედურის გამარტივებას ემსახურება. ჩვენი მიზანია, კონსტიტუციით გარანტირებული ინფორმაციის თავისუფლებით ყველა მოქალაქემ ისარგებლოს.</p>

  <p>Askgov.ge 300-ზე მეტი საჯარო დაწესებულების საკონტაქტო ინფორმაციას აერთიანებს და მოქალაქეებს სთავაზობს, ერთ სივრცეში, მარტივად გამოითხოვონ სასურველი საჯარო ინფორმაცია.</p>

  <p>პორტალი ბრიტანული ორგანიზაციის, mySociety-ის პროექტ Alaveteli-ის ქართული ანალოგია. 
  საქართველოში Askgov.ge-ის შექმნასა და მართვას ფორსეტი უძღვება ღია მმართველობის პარტნიორობის ინოვაციების 
  გრანტის მხარდაჭერით.</p>
  
  <%= video_tag "main.mp4", width:"100%", controls: true %>

</div>
