<% @title = "About Askgov" %>

<div id="content" role="main">
  <h1 id="introduction">About Askgov</h1>
  <p>
  Askgov.ge serves to simplify the procedure of requesting public information. Our goal is for all citizens to benefit from the freedom of information guaranteed by the Constitution.  </p>

  <p>
  Askgov.ge combines the contact information of more than 300 public institutions and offers citizens to easily request the desired public information in one space.
 </p>

  <p>The portal is a Georgian analogue of Alaveteli project of the British organization, mySociety. Forsett is leading the creation and management of Askgov.ge in Georgia with support from the Open Government Partnership Innovation Grant.</p>
  <%= video_tag "main.mp4", width:"100%", controls: true %>


</div>
