<% @title = "For public institutions" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> </h1>

  <dl>

    <dt id="section1">How does it work and what does it simplify for you?</dt>

    <dd>
      <p>The application form filled out by the citizen on the website already includes and meets all the requirements of Article 78 of the Civil Code. The citizen sends the completed application to the relevant public institution. From this moment, the system starts counting down the 10-day response time.</p>
      <p>
      The portal assigns a unique email address to each user. From this address you, the FOI officers, will receive the statement by email. You should return the answer to the citizen at the same address. Askgov.ge will automatically notify the user that the institution has sent a letter and at the same time will publish it publicly.      </p>
      <p>Accordingly, nothing changes procedurally for you - you receive a request for public information by e-mail and return a response in the same way.</p>
      <p>
      All statements and issued information are publicly published on Askgov.ge. This reduces the chance that citizens will re-request information that you have already provided. As a result, the workload for you, the FOI officers, will be significantly reduced.
      </p>
      <p><%= image_tag("help.png") %></p>
    </dd>

    <dt id="section2">What is your role?</dt>

    <dd>
      <p>A citizen requests information by personal e-mail or through Askgov.ge, the workload of a public institution does not change. It is your responsibility to comply with your statutory duty to provide public information within the prescribed working time.</p>
      <p>In some cases, users have errors in the application form. At such times, within the limits of discretion, please serve the interest of freedom of information and provide information to the extent possible. And if the error must be rectified, send the corresponding explanation to the citizen in a reply to the same e-mail from which you received the application.</p>
      <p>In the application form, the citizen also indicates the mobile phone number, which gives you the opportunity, if necessary, to clarify the content of the request with a phone call. Please do not ask a citizen to provide a personal email. The user already has an e-mail assigned by the portal and its use is the choice of the citizen. In addition, if the citizen's application already contains the ID number, please do not bother further by requesting a copy of the ID card, as it is already possible to identify it by the personal number.<p>
    
    </dd>
</dl>
  <div id="hash_link_padding"></div>
</div>
