<% @title = "საჯარო დაწესებულებებისთვის" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> </h1>

  <dl>

    <dt id="section1">როგორ მუშაობს და რას გაგიმარტივებთ?</dt>

    <dd>
      <p>Პორტალზე მოქალაქის მიერ შევსებული განაცხადის ფორმა უკვე მოიცავს და აკმაყოფილებს სზაკ-ის 78-ე მუხლის ყველა მოთხოვნას. შევსებულ განცხადებას მოქალაქე შესაბამის საჯარო დაწესებულებას უგზავნის. ამ მომენტიდან, სისტემა პასუხის გაცემის 10-დღიანი ვადის ათვლას იწყებს.</p>
      <p>პორტალი თითოეულ მომხმარებელს ელფოსტის უნიკალურ მისამართს ანიჭებს. ამ მისამართიდან თქვენ, FOI ოფიცრები, ელფოსტაზე განცხადებას მიიღებთ. მოქალაქეს კი პასუხი ამავე მისამართზე უნდა დაუბრუნოთ. Askgov.ge მომხმარებელს ავტომატურად შეატყობინებს, რომ დაწესებულებამ წერილი გამოუგზავნა და პარალელურად, მას საჯაროდაც გამოაქვეყნებს.
      </p>
      <p>შესაბამისად, <strong>თქვენთვის პროცედურულად არაფერი იცვლება</strong> - იღებთ საჯარო ინფორმაციის მოთხოვნას ელფოსტით და ამავე გზით აბრუნებთ პასუხს.</p>
      <p>ყველა განცხადება და გაცემული ინფორმაცია Askgov.ge-ზე საჯაროდ ქვეყნდება. ეს კი ამცირებს შანსს, რომ მოქალაქეები ხელახლა გამოითხოვენ იმ ინფორმაციას, რომელიც ერთხელ უკვე გაეცით. შედეგად, მნიშვნელოვნად <strong>შემცირდება</strong> თქვენი, FOI ოფიცრების, სამუშაო დატვირთვა.
      </p>
      <p><%= image_tag("help.png") %></p>
    </dd>

    <dt id="section2">რა არის თქვენი როლი?</dt>

    <dd>
      <p>მოქალაქე პირადი ელფოსტით გამოითხოვს ინფორმაციას თუ Askgov.ge-ის მეშვეობით, საჯარო დაწესებულების შრომითი დატვირთვა არ იცვლება. თქვენი პასუხისმგებლობაა, ჩვეულებისამებრ შეასრულოთ  საჯარო ინფორმაციის გაცემის კანონით დაკისრებული ვალდებულება დადგენილ სამუშაო ვადებში.</p>
      <p>რიგ შემთხვევებში, მომხმარებლებს განცხადების ფორმაში ხარვეზები აქვთ. ასეთ დროს, დისკრეციის ფარგლებში, გთხოვთ, მოემსახუროთ ინფორმაციის თავისუფლების ინტერესს და შესაძლებლობის ფარგლებში, გასცეთ ინფორმაცია. ხოლო თუ ხარვეზი აუცილებლად გამოსასწორებელია, საპასუხო წერილით იმავე ელფოსტაზე, რომლიდანაც განცხადება მიიღეთ, გაუგზავნეთ მოქალაქეს შესაბამისი განმარტება.</p>
      <p>განცხადების ფორმაში მოქალაქე მობილურის ნომერსაც უთითებს, რაც შესაძლებლობას გაძლევთ, საჭიროების შემთხვევაში, მოთხოვნის შინაარსი სატელეფონო ზარით დააზუსტოთ. გთხოვთ, მოქალაქისგან ნუ მოითხოვთ პირადი ელფოსტის მიწოდებას. მომხმარებელს უკვე აქვს პორტალისგან მინიჭებული ელფოსტა და მისი გამოყენება მოქალაქის არჩევანია. გარდა ამისა, თუ მოქალაქის განცხადება პირადობის ნომერს უკვე შეიცავს, გთხოვთ, დამატებით ნუ დააბრკოლებთ პირადობის მოწმობის ასლის მოთხოვნით, რადგან პირადი ნომრით მისი იდენტიფიცირება ისედაც შესაძლებელია.</p>
    
    </dd>

  <div id="hash_link_padding"></div>
</div>
