<% @title = "კონფიდენციალურობის პოლიტიკა" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> </h1>
  <dl>

    <dt id="email_address">ვინ ხედავს ჩემი ელ-ფოსტის მისამართს? </dt>

    <dd><p>მანამ, სანამ თავად არ გვთხოვ ან კანონი არ დაგვავალდებულებს, შენი ელ-ფოსტის მისამართს არავის ვუზიარებთ, მათ შორის საჯარო დაწესებულებასაც. პორტალიდან გაგზავნილ შენს განცხადებას საჯარო ორგანო @askgov.ge ელ-ფოსტით მიიღებს.</p>
      <p>თუ პორტალზე სხვა მომხმარებელს გაუგზავნი წერილს, შენი ელ-ფოსტა მისთვის ხელმისაწვდომი გახდება. ამის შესახებ წერილის გაგზავნის დროსაც გაგაფრთხილებთ.</p>
    </dd>

    <dt id="nasty_spam">აუტანელი სპამებით ხომ არ გაავსებთ ჩემს ელ-ფოსტას? </dt>
    <dd>არასოდეს. Askgov.ge-ზე რეგისტრაციის შემდეგ, ჩვენგან მხოლოდ გაგზავნილ განცხადებასთან დაკავშირებულ, აუცილებელ წერილებს მიიღებ. შენი ელ-ფოსტის მისამართს არასდროს გავყიდით ან გავცემთ, თუ ამას კანონი ან თავად შენ არ მოგვთხოვ.
    </dd>

    <dt id="public_request">რატომ აქვეყნებთ ჩემს განცხადებას და სახელს საჯაროდ? </dt>

    <dd>
      <p>შენს განცხადებას პორტალზე საჯარო ინფორმაციის ხელმისაწვდომობის გაზრდის მიზნით ვაქვეყნებთ. გაითვალისწინე, 
      რომ <a href="https://askgov.ge/ka/help/privacy#delete_requests">იშვიათი გამონაკლისების გარდა</a>, განცხადებებს არ ვშლით.
      </p>
      <p>
      მომხმარებლის სახელი განცხადებაზეა მიბმული და ისიც ავტომატურად ქვეყნდება. ვფიქრობთ, ეს სამართლიანია, რადგან მოთხოვნაზე პასუხის გამცემი საჯარო მოხელის სახელსა და გვარსაც ვაქვეყნებთ. გარდა ამისა, შენი ნამდვილი სახელის და გვარის საჯაროობა ადამიანებს დაეხმარება დაგიკავშირდნენ თანამშრომლობისთვის ან დახმარებისთვის.
      </p>
      <p>საჯარო ინფორმაციის გამოთხოვისას კანონმდებლობა ნამდვილი სახელის და გვარის გამოყენებას გვავალდებულებს. თუ ვინაობის გამხელა მაინც არ გსურს, შემდეგ კითხვებს გადახედე.
      </p>
    </dd>

    <dt id="real_name">შემიძლია განმცხადებლის ვინაობაში ფსევდონიმი გამოვიყენო? </dt>


    <dd>
      <p><a href="https://matsne.gov.ge/ka/document/view/16270?publication=38">ზოგადი ადმინისტრაციული კოდექსის</a> 78-3 მუხლის თანახმად, იმისათვის, რომ ადმინისტრაციული წარმოება დაიწყოს, განცხადება უნდა შეიცავდეს განმცხადებლის ვინაობას და მისამართს.</p>

      <p>ვინაობის გამხელის ნაცვლად, შეგიძლია:
      </p>

      <ul>
        <li>სხვას სთხოვო შენს მაგივრად მოთხოვნის გაგზავნა
        </li>
        <li>თუ სხვა გზა არ გაქვს, დაგვიკავშირდი და შენს ნაცვლად, ჩვენ გამოვითხოვთ ინფორმაციას. სასურველია, გვაცნობო ლეგიტიმური მიზეზი, რის გამოც ვინაობას ვერ ამხელ. სამწუხაროდ, ჩვენი რესურსები საკმარისი არ არის იმისთვის, რომ ამ გზით ყველას დავეხმაროთ.
        </li>
              </ul>

      <p>გახსოვდეს, ინფორმაციის გამოთხოვისას, არასდროს მიითვისო სხვისი იდენტობა.
      </p>

    </dd>

    <dt id="delete_requests">შეგიძლიათ განცხადების წაშლა ან ჩემი სახელის შეცვლა?</dt>

    <dd>
      <p>Askgov.ge წარმოადგენს საჯარო ინფორმაციის მუდმივ, ღია არქივს. მაშინაც კი, როცა შენი განცხადება სასარგებლოდ აღარ გეჩვენება, ის სხვისთვის გამოსადეგი შეიძლება აღმოჩნდეს. ამ მიზეზის გამო, განცხადებებს არ ვშლით.
      </p>
      <p>
      განსაკუთრებული გამონაკლისების შემთხვევაში, შეგვიძლია პორტალზე თქვენი სახელი და სხვა პერსონალური ინფორმაცია შევცვალოთ ან წავშალოთ. მეტი ინფორმაციისთვის, 
      <a href="https://askgov.ge/ka/help/privacy#takedown">გადადი შემდეგ კითხვაზე</a>.
      </p>

    </dd>

    <dt id="takedown">შეგიძლიათ ჩემი პერსონალური ინფორმაცია წაშალოთ?</dt>

    <dd>
      <p>თუ პორტალზე განთავსებულ მასალაში ნახავ შენს პერსონალურ ინფორმაციას, რომლის წაშლა გსურს,
      <a href="https://askgov.ge/ka/help/contact">შეგვატყობინე</a>. გვითხარი, კონკრეტულად ინფორმაციის რა ნაწილია პრობლემური, რატომ და სად არის განთავსებული.</p>

      <p>როგორც წესი, შემთხვევით გამოქვეყნებულ სენსიტიურ პერსონალურ ინფორმაციას ვშლით. ძირითადად მხოლოდ იმ მიმართვებს განვიხილავთ, სადაც პიროვნება საკუთარი კონფიდენციალური ინფორმაციის წაშლისკენ მოგვიწოდებს. თუმცა, თუ სხვა ადამიანის სენსიტიურ მონაცემებსაც წააწყდებით, მოხარულები ვიქნებით, თუ გვაცნობებთ.</p>
    <p>ჩვენ ვაცნობიერებთ, რომ რიგ შემთხვევებში დიდია საზოგადოებრივი ინტერესი ამა თუ იმ საჯარო მოხელის ვინაობასთან დაკავშირებით. ამიტომ, ვინაობის მაიდენტიფიცირებელ მონაცემებს მხოლოდ ისეთ გამონაკლის შემთხვევებში წავშლით, როცა პიროვნების უსაფრთხოების რისკი იარსებებს. თუ თავად ხარ საჯარო დაწესებულების თანამშრომელი და ფიქრობ, რომ ვინაობის წაშლის აუცილებელი მიზეზი გაქვს, გამოგვიგზავნე ზემდგომი მენეჯერის მიერ შედგენილი მოთხოვნა, რომელიც დაამტკიცებს, რომ უსაფრთხოების პოტენციური რისკი წონის საზოგადოებრივ ინტერესს.</p>
    </p>ყველა სხვა შემთხვევაში, ინფორმაციის წასაშლელად გადაწყვეტილების მიღებისას ვიხელმძღვანელებთ არსებული საჯარო ინტერესით, რომლის ჩარჩოებს ადგენს საქართველოს კანონი „სიტყვისა და გამოხატვის თავისუფლების შესახებ“. დიდი რაოდენობის დოკუმენტებს არ ვარედაქტირებთ (როგორებიცა PDF, Word ან Excel-ის ფაილები), ამიტომ, როგორც წესი, საჯარო უწყებებს ვთხოვთ, რომ თავიდან გამოგვიგზავნოს განახლებული დოკუმენტი, სადაც დაინტერესებული პირის ვინაობა წაშლილი იქნება.</p>
      </dd>

    
    <div id="hash_link_padding"></div>
</div>