<% @title = "Information request" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %></h1>
  <dl>

    <dt id="section1">How to request information through Askgov.ge?</dt>
    <dd>
    For this <a href="https://askgov.ge/ka/profile/sign_in?r=%2Fka">you need to register</a> on Askgov.ge and <a href="https://askgov.ge/ka/select_authority">fill out</a>. 
    a simple information request form . It is important to specify the correct e-mail address during registration, so that you can learn about receiving information and, if necessary, public agencies can communicate with you.    
    </dd>

    <dt id="section2">Who can I request information from?</dt>

    <dd>
    It is possible to request information from more than 300 institutions on AskGov.ge. The obligation to provide information applies to both administrative bodies and legal entities of private law financed from the state budget.    
    </dd>

    <dt id="section3">How does the portal work?<dd>
    AskGov.ge sends your request to a public institution. The received answer will be automatically published on the portal so that you and other interested persons can find and read it.    
    </dd>
    
    <dt id="section4">Why are application details necessary?</dt>

    <dd>
    After writing the letter, you will get to the page where you can fill in the details of the application. In order for public institutions to accept the application in production, they also request to provide some personal information. The indicated data is sent only to the public institution and is not publicly published on the portal. The signature and personal data are not stored on the askgov.ge server either.
    </dd>

    <dt id="section5">When will the data be sent to me?</dt>

    <dd>
    By law, public information is provided immediately. If the requested information is of a large volume and needs to be processed, public institutions are given 10 working days to provide the information.

    </dd>

    <dt id="section6">I don't know exactly which agency to contact. How do i find out?</dt>
   
    <dd>
      <p>
      It is not always easy to find out in the tangled structure of state bodies and to identify the agency responsible for the information. Here are some tips:      </p>

      <ul>
      <li>
      Try to find announcements similar to your request on Askgov.ge. For this, you can use the search engine and write the words that appear in your application (eg: tourism / employment / forest / crime).      
      <li>Contact the various relevant agencies on a hotline or email address and ask if they have the information you want.</li>
      <li>If you didn't receive it, there's a chance the message ended up in your email "spam".</li>
      <li>Don't worry too much about finding the exact agency. If you contact the wrong institution, there is a good chance that they will teach you the correct addressee of the request.</li>
      <li>If you have a very difficult case, <a href="https://askgov.ge/ka/help/contact">contact us for help</a>.</li>
      </ul>

    </dd>

    <dt id="section7">What should I do if the public institution from which I want to request information is not listed?</dt>

    <dd>
    <a href="https://askgov.ge/ka/change_request/new">Write us</a> the name and email address of the public institution. The AskGov.ge team will verify the information and add the institution to the portal.
    </dd>


    <dt id="section8">Can I also request information about me?</dt>
    <dd>
    You cannot use AskGov.ge to obtain information about private individuals.
    </dd>

    <dt id="section9">Useful tips</dt>

    <dd>
      <ul>
        <li>Look at the data already posted on Askgov.ge, maybe a similar request has already been sent?</li>
        <li>Check the website of the public institution. Maybe the data of interest to you has already been published?</li>
        <li>The legislation (Szak Article 78) requires us to indicate the addressee in the application. Therefore, it is preferable to start writing the text by mentioning the public institution to which you are applying.</li>
        <li>Remember, applying with short and clear sentences will make it easier for public agencies to better understand the content of your requested information, which means that they will get back to you sooner. However, when requesting data, be sure to specify the data period.</li>
        <li>At the end of the letter, you have the right to choose the format in which the information will be provided (CSV, XML, PDF, etc.).</li>
      </ul>
    </dd>

    
    <div id="hash_link_padding"></div>
</div>
