<% @title = "ინფორმაციის გამოთხოვა" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %></h1>
  <dl>

    <dt id="which_authority">ზუსტად არ ვიცი, რომელ უწყებას მივმართო. როგორ გავარკვიო? </dt>

    <dd>
      <p>ყოველთვის მარტივი არ არის სახელმწიფო ორგანოების ჩახლართულ სტრუქტურაში გამორკვევა და ინფორმაციის მფლობელის იდენტიფიცირება. რამდენიმე რჩევას მოგცემთ:
      </p>
      <ul>
        <li>ეცადე Askgov.ge-ზე დაათვალიერო ან მოძებნოთ შენი მოთხოვნის მსგავსი განცხადებები.        </li>
        <li>დაუკავშირდი თავად უწყებას ცხელ ხაზზე ან ელ-ფოსტის მისამართზე, ჰკითხე ფლობენ თუ არა შენთვის სასურველ ინფორმაციას.
        </li>
        <li>მეტისმეტად ნუ ინერვიულებ ზუსტი უწყების მონახვაზე. თუ არასწორ ინსტიტუტს დაუკავშირდები, დიდია შანსი მიგასწავლონ მოთხოვნის შესაბამისი ადრესატი.</li>
        <li>თუ ზედმეტად რთული შემთხვევა გაქვს, დახმარებისთვის <a href="https://askgov.ge/ka/help/contact">დაგვიკავშირდი.</a></li>
      </ul>

    </dd>

    <dt id="missing_body">ჩამონათვალში არ არის ის საჯარო უწყება, ვისგანაც გსურს ინფორმაციის 
    გამოთხოვა </dt>

    <dd>
      <p>
          ასეთ შემთხვევაში, <a href="<%= new_change_request_path %>">მოგვწერე</a> საჯარო უწყების სახელწოდება და ელ-ფოსტის მისამართი.

      </p>
      <p>თუ გსურს, რომ საჯარო უწყებების სიის სრულ განახლებაში დაგვეხმარო, სიამოვნებით მოგისმენთ.
      </p>

    </dd>

    <dt id="authorities">რატომ უნდა იყოს ჩემი მოთხოვნის ტექსტი ლაკონიური და რელევანტური?
    <dd>
      <p>წერილობითი მიმართვისას კონცენტრირდი მხოლოდ იმ საკითხებზე, რომლებიც სასურველი ინფორმაციის გამოთხოვას უკავშირდება. გთხოვთ, მიმართვაში არ გამოიყენო ცილისმწამებლური და შეურაცხმყოფელი განცხადებები. ამგვარი ქცევის დაფიქსირების შემთხვევაში, შესაძლოა შენი ანგარიშის გაუქმება მოგვიწიოს, რაც ჩვენთვისაც ძალიან მტკივნეული იქნება.</p>
      <p>მოკლე მესიჯებით მიმართვა საჯარო უწყებებს გაუმარტივებს უკეთ აღიქვან შენი მოთხოვნილი ინფორმაციის შინაარსი, რაც ნიშნავს, რომ პასუხსაც უფრო მალე დაგიბრუნებენ.</p>
      <p>თუ მოთხოვნილი ინფორმაციის გამოყენება კამპანიისთვის ან არგუმენტაციისთვის გჭირდება, ინფორმაციის თავისუფლება ნამდვილად მძლავრი ინსტრუმენტია. Askgov.ge-ს მეშვეობით მიღებული ინფორმაცია შეგიძლია მოიხმარო ნებისმიერ სხვა პლატფორმაზე, იქნება ეს ბლოგი, სტატია, კვლევა თუ სოციალური მედიის კამპანია. თუმცა, ნუ წამოიწყებ კამპანიას ამ პორტალზე. ამის ნაცვლად, შეგიძლია შენი კამპანიის ბმული პორტალზე განთავსებულ მოთხოვნას ანოტაციის სახით დაურთო.</p>
    </dd>

    <dt id="focused">ფასიანია ინფორმაციის გამოთხოვა?</dt>

    <dd>

      <p>
      საჯარო უწყებებისგან ინფორმაციის გამოთხოვა თითქმის ყოველთვის უფასოა.

      </p>
      <p>თანხის გადახდა იმ შემთხვევაში გიწევს, თუ ინფორმაციის ასლის მიღება მატერიალური სახით გსურს:</p>

      <ul>
        <li>ასლი - ერთი გვერდი - 0,05 ლარი; პრინტერზე ამობეჭდვა - ერთი გვერდი - 0,10 ლარი;</li>
        <li>კომპაქტურ დისკზე ინფორმაციის ჩაწერა - 1 დისკი - 2,65 ლარი; დისკეტაზე ინფორმაციის ჩაწერა - 1 დისკეტა - 1,3 ლარი (დისკეტის ან დისკის წარმოდგენის შემთხვევაში ინფორმაციის ჩაწერა უფასოა).</li>
      </ul>
    </dd>

    <dt id="fees">პასუხი რამდენად სწრაფად დამიბრუნდება? </dt>

    <dd>

      <p>საჯარო დაწესებულება ვალდებულია საჯარო ინფორმაცია გასცეს დაუყოვნებლივ ან <a href="https://matsne.gov.ge/ka/document/view/16270?publication=38">
      კანონით დადგენილ შემთხვევებში</a> არაუგვიანეს 10 დღისა.</p>

      <p>თუ ინფორმაციის გაცემისათვის საჭიროა 10 დღიანი ვადა, საჯარო დაწესებულება ვალდებულია მოთხოვნისთანავე აცნობოს ამის შესახებ განმცხადებელს.

      </p>

      <p>თუ დაწესებულება დადგენილ ვადას გადააცილებს, Askgov.ge ამ დარღვევის შესახებ ელ-ფოსტით გაცნობებს. ამის შემდეგ, შეგიძლია უწყებას განცხადება შეახსენო ან უთხრა, რომ კანონი დაარღვიეს.
      </p>

    </dd>



    <dt id="quickly_response">და თუ საერთოდ არ მიპასუხებენ? </dt>

    <dd>
      <p>ასეთ შემთხვევაში, შემდეგ გზებს შეგიძლია მიმართო:
      </p>

      <ul>
      <li>
      ხანდახან პრობლემის მიზეზი შეიძლება იყოს ის, რომ დაწესებულებას შენი მოთხოვნა უბრალოდ არ მიუღია. საცდელად ღირს ადრესატთან დარეკვა და თავაზიანად მოკითხვა, მიიღეს თუ არა განცხადება. მოთხოვნა მათ ელ-ფოსტის მისამართზე გაეგზავნათ</li>
      <li>თუ არ მიუღიათ, არის შანსი, შეტყობინება ელ-ფოსტის „სპამში“ მოხვედრილიყო.</li>
      <li>თუ ამანაც არ გამოიღო შედეგი, შესაძლოა გამოსავალი ადრესატ უწყებაში ადმინისტრაციული საჩივრის შეტანა ან სასამართლოსადმი მიმართვა იყოს.</li>
      </ul>

    </dd>

    <dt id="no_response">შემიძლია ჩემს შესახებ არსებული ინფორმაციაც გამოვითხოვო? </dt>

    <dd>
    Askgov.ge-ს კერძო ინდივიდუალური პირების შესახებ ინფორმაციის მოსაპოვებლად ვერ გამოიყენებ.
    </dd>


    <dt id="reuse">მინდა ჩემი განაცხადი საიდუმლოდ შევინახო! (გამოთხოვილი ინფორმაციის გამოქვყენებამდე მაინც) </dt>
    <dd>
      <p>დღეისათვის Askgov.ge მხოლოდ განცხადებების საჯაროობაზე დაფუძნებული პლატფორმაა. საჯარო დაწესებულებებისგან მიღებული ყველა პასუხი ავტომატურად ქვეყნდება პორტალზე, რათა მას ნებისმიერი დაინტერესებული ადამიანი გაეცნოს.
      </p>

      <p>თუ ინფორმაციის კონფიდენციალურად გამოთხოვა გსურს, ცალკე, უშუალოდ საჯარო დაწესებულებას უნდა მიმართო.</p>

    </dd>

    <dt id="ico_help">შემიძლია ერთი და იმავე განცხადების რამდენიმე დაწესებულებისთვის, მაგალითად ყველა საკრებულოსთვის გაგზავნა? </dt>

    <dd>
    ჩვენი რჩევაა, რომ ჯერ რამდენიმე დაწესებულებას სატესტო ვერსია გაუგზავნო. მათი პასუხები დაგეხმარება განცხადების ტექსტის გაუმჯობესებაში, რათა შემდგომში ყველა სხვა დაწესებულებისთვის გაგზავნილ მოთხოვნაზე მეტად სრულყოფილი პასუხი დაგიბრუნდეს. ჯერჯერობით, სხვადასხვა ადრესატისთვის განცხადების ავტომატური გაგზავნის ფუნქცია არ დაგვიმატებია, ამიტომ ტექსტის ხელით დაკოპირება და ფორმის თავიდან შევსება მოგიწევს.
    </dd>

    <dt id="data_protection">როგორ დავამატო პორტალის მიღმა გამოთხოვილი ინფორმაცია Askgov.ge-ზე? </dt>

    <dd>
    Askgov.ge შექმნილია პორტალიდან გაკეთებული განცხადებების შესანახად და მისი მიზანი არაა ყველა სხვა გამოთხოვილი ინფორმაციის არქივის ბაზად იქცეს. ამას გარდა, ჩვენთვის შეუძლებელი იქნება შევამოწმოთ, მართლაც საჯარო დაწესებულებისგან მიიღეთ თუ არა ინფორმაცია. თუ თქვენთვის ეს საკითხი ძალიან მნიშვნელოვანია, შეგიძლიათ იგივე განცხადებით უკვე Askgov.ge-დან მიმართოთ ადმინისტრაციულ ორგანოს.
    </dd>


   <dt id="multiple">რა კრიტერიუმებით არედაქტირებთ ანოტაციებს? </dt>

    <dd>პორტალზე გამოქვეყნებულ ნებისმიერ განცხადებას შეგიძლია ანოტაცია დაურთო, რითაც ადამიანებს უფრო მეტი ან რელევანტური ინფორმაციის მოძიებაში დაეხმარები. ანოტაციის ფუნქციის გამოყენება პოლიტიკური დისკუსიებისთვის დაუშვებელია. ვიტოვებთ უფლებას, წავშალოთ ყველა კომენტარი, რომელიც აცდენილი იქნება განცხადების შინაარსს და საჯარო ინფორმაციის ხელმისაწვდომობაში კონტრიბუციის მიზანს.
    </dd>

    <div id="hash_link_padding"></div>
</div>
