<% @title = "ინფორმაციის გამოთხოვა" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %></h1>
  <dl>

    <dt id="section1">Როგორ გამოვითხოვო ინფორმაცია Askgov.ge-ის მეშვეობით?</dt>
    <dd>
    ამისათვის საჭიროა Askgov.ge-ზე <a href="https://askgov.ge/ka/profile/sign_in?r=%2Fka">რეგისტრაცია</a> და ინფორმაციის მოთხოვნის მარტივი ფორმის <a href="https://askgov.ge/ka/select_authority">შევსება</a>. 
    მნიშვნელოვანია, რეგისტრაციისას ელფოსტის სწორი მისამართი მიუთითო, რომ ინფორმაციის მიღების შესახებ შეიტყო და საჭიროების შემთხვევაში, საჯარო უწყებებმა შენთან კომუნიკაცია მოახერხონ.
    </dd>

    <dt id="section2">ვისგან შემიძლია ინფორმაციის მოთხოვნა?</dt>

    <dd>
    AskGov.ge-ზე ინფორმაციის მოთხოვნა შესაძლებელია 300-ზე მეტი დაწესებულებისგან. ინფორმაციის გაცემის ვალდებულება ვრცელდება როგორც ადმინისტრაციულ ორგანოებზე, ისე სახელმწიფოს ბიუჯეტიდან დაფინანსებულ კერძო სამართლის იურიდიულ პირებზე.
    </dd>

    <dt id="section3">როგორ მუშაობს პორტალი?<dd>
    AskGov.ge შენს მოთხოვნას საჯარო დაწესებულებას უგზავნის. მიღებული პასუხი კი პორტალზე ავტომატურად გამოქვეყნდება, რათა მისი პოვნა და წაკითხვა შეძლო შენც და სხვა დაინტერესებულმა პირებმაც.  
    </dd>
    
    <dt id="section4">რატომაა განცხადების რეკვიზიტები საჭირო?</dt>

    <dd>
    წერილის დაწერის შემდეგ, განცხადების რეკვიზიტების შესავსებ გვერდზე მოხვდები. იმისათვის, რომ საჯარო დაწესებულებებმა განაცხადი წარმოებაში მიიღონ, გარკვეული პერსონალური ინფორმაციის მიწოდებასაც ითხოვენ. მითითებული მონაცემები მხოლოდ საჯარო დაწესებულებას ეგზავნება და პორტალზე საჯაროდ არ ქვეყნდება. ხელმოწერა და პირადი მონაცემები არც askgov.ge-ის სერვერზე ინახება.
    </dd>

    <dt id="section5">Როდის გამომიგზავნიან მონაცემებს?</dt>

    <dd>
    კანონის მიხედვით, საჯარო ინფორმაცია გაიცემა დაუყოვნებლივ. თუ მოთხოვნილი ინფორმაცია დიდი მოცულობისაა და საჭიროებს დამუშავებას, საჯარო დაწესებულებებს ინფორმაციის გაცემისთვის 10 სამუშაო დღე ეძლევათ.
    </dd>

    <dt id="section6">ზუსტად არ ვიცი, რომელ უწყებას მივმართო. როგორ გავარკვიო?</dt>
   
    <dd>
      <p>ყოველთვის მარტივი არ არის სახელმწიფო ორგანოების ჩახლართულ სტრუქტურაში გარკვევა და ინფორმაციაზე პასუხისმგებელი უწყების იდენტიფიცირება. რამდენიმე რჩევას მოგცემთ:
      </p>

      <ul>
      <li>
      ეცადე, Askgov.ge-ზე შენი მოთხოვნის მსგავსი განცხადებები მოძებნო. ამისათვის შეგიძლია საძიებო სისტემა გამოიყენო და ის სიტყვები ჩაწერო, რომლებიც შენს განცხადებაში ფიგურირებს (მაგ.: ტურიზმი / დასაქმება / ტყე / დანაშაული).      <li>თუ არ მიუღიათ, არის შანსი, შეტყობინება ელ-ფოსტის „სპამში“ მოხვედრილიყო.</li>
      <li>დაუკავშირდი სხვადასხვა რელევანტურ უწყებას ცხელ ხაზზე ან ელფოსტის მისამართზე და  ჰკითხე, ფლობენ თუ არა შენთვის სასურველ ინფორმაციას. </li>
      <li>ძალიანაც ნუ ინერვიულებ ზუსტი უწყების მონახვაზე. თუ არასწორ დაწესებულებას დაუკავშირდები, დიდია შანსი, თავად მიგასწავლონ მოთხოვნის შესაბამისი ადრესატი. </li>
      <li>თუ მეტისმეტად რთული შემთხვევა გაქვს, დახმარებისთვის <a href="https://askgov.ge/ka/help/contact">დაგვიკავშირდი</a>.</li>
      </ul>

    </dd>

    <dt id="section7">როგორ მოვიქცე, თუ ჩამონათვალში არ არის ის საჯარო დაწესებულება, ვისგანაც მსურს ინფორმაციის მოთხოვნა?</dt>

    <dd>
    ასეთ შემთხვევაში, <a href="https://askgov.ge/ka/change_request/new">მოგვწერე</a> საჯარო დაწესებულების სახელწოდება და ელფოსტა. AskGov.ge-ის გუნდი ინფორმაციას გადაამოწმებს და პორტალზე დაწესებულებას დაამატებს.    </dd>


    <dt id="section8">შემიძლია ჩემ შესახებ არსებული ინფორმაციაც გამოვითხოვო? </dt>
    <dd>
      AskGov.ge-ს კერძო ინდივიდუალური პირების შესახებ ინფორმაციის მოსაპოვებლად ვერ გამოიყენებ.
    </dd>

    <dt id="section9">სასარგებლო რჩევები</dt>

    <dd>
      <ul>
        <li>გადახედე Askgov.ge-ზე უკვე განთავსებულ მონაცემებს, იქნებ მსგავსი მოთხოვნა უკვე გაგზავნილია?</li>
        <li>შეამოწმე საჯარო დაწესებულების ვებ-გვერდი. იქნებ შენთვის საინტერესო მონაცემები უკვე გამოქვეყნებული აქვს?</li>
        <li>კანონმდებლობა (სზაკ-ის 78-ე მუხლი) მოითხოვს, რომ განცხადებაში ადრესატი მივუთითოთ. ამიტომ, სასურველია, ტექსტის წერა იმ საჯარო დაწესებულების ხსენებით დაიწყეთ, რომელსაც მიმართავ.</li>
        <li>გახსოვდეს, მოკლე და მკაფიო წინადადებებით მიმართვა საჯარო უწყებებს გაუმარტივებს, უკეთ აღიქვან შენი მოთხოვნილი ინფორმაციის შინაარსი, რაც ნიშნავს, რომ პასუხს უფრო მალე დაგიბრუნებენ. ამასთან, მონაცემების მოთხოვნისას, აუცილებლად მიუთითე მონაცემთა პერიოდი.</li>
        <li>წერილის დასასრულს, უფლება გაქვს, აირჩიო, რა ფორმატით მოგაწოდონ ინფორმაცია (CSV, XML, PDF, ა.შ.).</li>
      </ul>
    </dd>

   </dl> 
    <div id="hash_link_padding"></div>
</div>
