<% @title = "პრობლემური შემთხვევები საჯარო დაწესებულებასთან მიმოწერისას: როგორ მოვიქცე, თუ" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1>პრობლემური შემთხვევები საჯარო დაწესებულებასთან მიმოწერისას: როგორ მოვიქცე, თუ</h1>

  <dl>
    <dt id="section1">საჯარო დაწესებულება პასუხს არ მიბრუნებს?</dt>

    <dd>
      <p>გირჩევთ, ჩამოთვლილთაგან ერთ-ერთ ან რამდენიმე გზას მიმართო:</p>
      <ul>
        <li>საწყის ეტაპზე, გირჩევთ, ახალი წერილით შეახსენო გაგზავნილი მოთხოვნა და საჯარო ინფორმაციის გაცემის კანონით დაკისრებული ვალდებულება.</li>
        <li>ხანდახან პრობლემის მიზეზი შეიძლება ის იყოს, რომ დაწესებულებას შენი წერილი გამორჩა. ცდად ღირს ადრესატთან დარეკვა და თავაზიანად მოკითხვა, მიიღეს თუ არა შენი განცხადება, რომელიც ელფოსტაზე გაეგზავნათ.</li>
        <li>თუ წერილი არ მიუღიათ, არის შანსი, შეტყობინება ელფოსტის „სპამში“ მოხვედრილიყო.</li>
        <li>თუ არცერთმა გზამ არ გამოიღო შედეგი, შესაძლოა, გამოსავალი ადრესატ უწყებაში ადმინისტრაციული საჩივრის შეტანა ან სასამართლოთვის მიმართვა იყოს. 
        AskGov.ge-ის გუნდი მზადაა, დაგეხმაროს. კონსულტაციისთვის, <a href="https://askgov.ge/ka/help/contact">დაგვიკავშირდი.<a/></li>
      </ul>
    </dd>
  </dl>

  <dl>
    <dt id="section2">არასრული ინფორმაცია გამომიგზავნეს?</dt>
    <dd>
      შეახსენე თავდაპირველ წერილში მოთხოვნილი ინფორმაცია და დაუკონკრეტე, რა მონაცემები აკლია მათ პასუხს.
    </dd>
  </dl>

  <dl>
    <dt id="section3">მონაცემების ნაცვლად, მიგზავნიან ბმულს, რომელზეც მოთხოვნილი ინფორმაციაა გამოქვეყნებული?</dt>
    <dd>
      საჯარო დაწესებულებისგან შეგიძლია მოითხოვო ინფორმაციის სასურველ ფორმატში მიღება, რადგან სზაკ-ის მე-40 მუხლის მესამე ნაწილის მიხედვით, საჯარო ინფორმაციის პროაქტიულად გამოქვეყნება არ ათავისუფლებს საჯარო დაწესებულებას იმავე ან სხვა საჯარო ინფორმაციის მოთხოვნის შემთხვევაში მისი დადგენილი წესით გაცემის ვალდებულებისგან.
    </dd>
  </dl>

  <dl>
    <dt id="section4">მთხოვენ პირადობის მოწმობის ასლს?</dt>
    <dd>
      <p>განცხადების რეკვიზიტებში უკვე მითითებული გაქვს პირადი ნომერი, რაც პიროვნების იდენტიფიკაციისთვის სრულიად საკმარისია. კანონი მოქალაქეს პირადობის მოწმობის ასლის წარდგენას არ ავალდებულებს.</p>
      <p>გირჩევთ, საჯარო დაწესებულებას უარი განუცხადო და სურვილისამებრ, დამატებით ჰკითხო, სზაკ-ის რომელი მუხლის საფუძველზე ითხოვს პირადობის მოწმობის ასლს.</p>
    
    </dd>
  </dl>

  <dl>
    <dt id="section5">ელფოსტის პირად მისამართს მთოხვენ?</dt>
    <dd>
      შენ უკვე გაქვს პორტალისგან მონიჭებული ელფოსტის ინდივიდუალური მისამართი და აკმაყოფილებ სზაკ-ის 78-ე მუხლით დაწესებულ მოთხოვნას. გირჩევთ, პირადი ელფოსტის გაცემაზე უარი განაცხადო და საჯარო უწყებას მოუწოდო, მონაცემები იმ მისამართზე დაგიბრუნონ, რომლიდანაც განცხადება მიიღეს.
    </dd>
  </dl>

  <dl>
    <dt id="section6">მონაცემები არასასურველ ფორმატში მივიღე?</dt>
    <dd>
      გირჩევთ, საჯარო დაწესებულებას შეახსენო, რომ სზაკ-ის 37-ე მუხლის 1-ელი პუნქტის თანახმად, ყველას აქვს უფლება, აირჩიოს საჯარო ინფორმაციის მიღების ფორმა, თუ იგი სხვადასხვა სახით არსებობს.  
    </dd>
  </dl>

  <dl>
    <dt id="section7">სხვა საჯარო დაწესებულებასთან გადამამისამართეს?</dt>
    <dd>
      გირჩევთ, ან ახალი განცხადება გაგზავნო ახალი დაწესებულების სახელზე, ან საჯარო დაწესებულებას შეახსენო, რომ სზაკ-ის მე-80 მუხლის პირველი პუნქტის თანახმად, თუ განცხადებით მოთხოვნილი საკითხის გადაწყვეტა მიეკუთვნება სხვა ადმინისტრაციული ორგანოს უფლებამოსილებას, ადმინისტრაციული ორგანო ვალდებულია, ამის შესახებ არა უგვიანეს 5 დღისა გადაუგზავნოს შენი განცხადება სწორ ადრესატს
    </dd>
  </dl>

  <dl>
    <dt id="section8">ორგანიზაციის ან მოთხოვნის მიზნის დასახელებას მთხოვენ?</dt>
    <dd>
    გახსოვდეს, რომ კანონით არ გაქვს ვალდებულება,  სამუშაო ადგილი ანმოთხოვნის მიზანი დააკონკრეტო (მაგ.: არ არის საჭირო, მიუთითო, რომ მონაცემები გჭირდება აკადემიური კვლევისთვის, სტატიისთვის ან სხვ.).
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>