<% @title = "Უკმაყოფილო ხარ განცხადებაზე მიღებული პასუხით?" %>

<h1>Უკმაყოფილო ხარ განცხადებაზე მიღებული პასუხით?</h1>

<p>Თუ...</p>

<ul>
  <li>არ მიიღე ინფორმაცია 10 სამუშაო დღის ვადაში</li>
  <li>Არ მიიღე ყველა მოთხოვნილი ინფორმაცია</li>
  <li>Უკანონოდ განაცხადეს უარი შენი განცხადების განხილვაზე</li>
</ul>

<p>შეგიძლია</p>

<ol>
  <li>მოითხოვო გასაუბრება დაწესებულების წარმომადგენელთან</li>
  <li>გაასაჩივრო დარღვევა ზემდგომ ადმინისტრაციულ ორგანოსთან</li>
  <li>გამოიყენო სხვა გზები ინფორმაციის მისაღებად</li>
</ol>

<h2 id="internal_review">1. გასაუბრების მოთხოვნა</h2>

<p>
  მოითხოვე შიდა გასაუბრება დაწესებულების საჯარო ინფორმაციის ხელმისაწვდომობაზე პასუხისმგებელ პირთან. Ამ გზით, შეგეძლება ადრესატს კანონით დაკისრებული ვალდებულება შეახსენო, მოთხოვნა დაუზუსტო, ან/და მოისმინო პასუხები იმის შესახებ, თუ რატომ არ გასცემს დაწესებულება მოთხოვნილ ინფორმაციას.
</p>

<h2 id="complaining">2. Ზემდგომ ადმინისტრაციულ ორგანოსთან გასაჩივრება</h2>

<p>თუ არსებობს თქვენი ადრესატის ზემდგომი ორგანო, უფლება გაქვს მათ საჩივრით მიმართოთ და დარღვეული უფლებების აღდგენა მოითხოვოთ. ადმინისტრაციულ საჩივართან დაკავშირებით ადმინისტრაციული წარმოების წესს საქართველოს ზოგადი ადმინისტრაციული კოდექსის XIII თავი ადგენს.
</p>

<h2 id="other_means">3. Სხვა გზების გამოყენება</h2>

<p>სასურველი ინფორმაციის მოსაპოვებლად, შეგიძლია შემდეგ გზებს მიმართო.</p>

<ul>
  <li>გამოითხოვე ინფორმაცია სხვა დაწესებულებისგან, რომელიც შეიძლება ამავე მონაცემებს ფლობდეს.</li>
  <li>გამოიტანეთ დარღვევის ფაქტი სააშკარაოზე. შეგიძლიათ, სოციალურ მედიაში გააზიაროთ, ან სულაც, ადვოკატირების კამპანია წამოიწყოთ.</li>
  <li>კიდევ ერთხელ სცადეთ იგივე საჯარო დაწესებულებისგან, იმავე ინფორმაციის მოთხოვნა, მათი შენიშვნების გათვალისწინებით.</li>
</ul>
