<% @title = "Problem cases in correspondence with a public institution: what to do if" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1>Problem cases in correspondence with a public institution: what to do if</h1>
  <dl>

    <dt id="section1">The public institution does not respond to me?</dt>

    <dd>
      <p>We recommend that you apply one or more of the following methods:
      </p>
      <ul>
        <li>At the initial stage, we recommend that you remind the sent request and the obligation imposed by law to provide public information with a new letter.</li>
        <li>Sometimes the cause of the problem may be that the institution missed your letter. It's worth a try to call the addressee and politely ask if they received your e-mail application.</li>
        <li>If you did not receive the email, there is a chance that the message may have ended up in your email "spam".</li>
        <li>
        If none of the methods have yielded results, 
        the solution may be to file an administrative complaint with the addressee agency or appeal 
        to the court. AskGov.ge team is ready to help you. 
        For consultation, <a href="https://askgov.ge/ka/help/contact">contact us.</a></li>
      </ul>
    </dd>



    <dt id="section2">They send me incomplete information?</dt>
    <dd>
    Remind them of the information requested in the original letter and specify what data is missing from their response.

    </dd>


    <dt id="section3">Instead of data, they send me a link where the requested information is published?</dt>
    <dd>
    You can request from the public institution to receive information in the desired format, because according to the third part of Article 40 of the Civil Code, the proactive publication of public information does not release the public institution from the obligation to provide the same or other public information in the prescribed manner.    </dd>

    <dt id="section4">They ask for a copy of my ID?</dt>
    <dd>
      <p>You have already specified your personal number in the details of the application, which is sufficient for personal identification. The law does not oblige the citizen to submit a copy of the identity card.</p>
      <p>I recommend that you refuse to the public institution and, if you wish, additionally ask them on the basis of which article of the Civil Code they are requesting a copy of the ID card.</p>    
    </dd>

    <dt id="section5">Do you have a personal email address? </dt>
    <dd>
    You already have an individual e-mail address assigned by the portal and you meet the requirements set by Article 78 of the Civil Code. I recommend that you refuse to provide your personal e-mail address and call the public agency to return the data to the address from which the application was received.    </dd>
 
    <dt id="section6">I receive data in the wrong format?</dt>
    <dd>
    We recommend that you remind the public institution that according to Article 37, Paragraph 1 of the Civil Code, everyone has the right to choose the form of receiving public information, if it exists in different forms.    </dd>

    <dt id="section7">I was redirected to another public institution?</dt>
    <dd>
    I recommend that you either send a new application in the name of the new institution, or remind the public institution that according to the first paragraph of Article 80 of the Civil Code, if the decision of the issue requested by the application falls under the authority of another administrative body, the administrative body is obliged to send your Statement to the correct addressee    </dd>

    <dt id="section8">I am being asked to name the organization or the purpose of the request?
    </dt>
    <dd>
    Remember that you are not required by law to specify the place of employment or the purpose of the request (eg you do not need to state that you need the data for academic research, an article, etc.).    </dd>
</dl>
  <div id="hash_link_padding"></div>
</div>